mixin vacancy-features()
    section.vacancy-features
        .vacancy-features__lights 
            .light 
            .light 
        .vacancy-features__inner.vacancy-container 
            .badge-wrapper
                .badge мы предлагаем
            .features__list
                .feature__item  
                    .icon-wrapper 
                        +img({
                            src: 'assets/img/vacancy-features/1.png',
                            src2x: 'assets/img/vacancy-features/1@2x.png',
                            alt: 'feature icon'
                        })
                    h4.feature__title Гибкий график
                    .feature__descr
                        p Ты сможешь работать как тебе удобно! Обычно это сменный график 2/2 и 3/3, но можно договориться на любой индивидуальный график.
                .feature__item  
                    .icon-wrapper 
                        +img({
                            src: 'assets/img/vacancy-features/2.png',
                            src2x: 'assets/img/vacancy-features/2@2x.png',
                            alt: 'feature icon'
                        })
                    h4.feature__title Высокий <br> доход
                    .feature__descr 
                        p Гарантированная ставка от 3 000₽ <br> до 6 000₽ за смену + хороший % <br> от чаевых. Ежедневные выплаты сразу после смены.
                .feature__item  
                    .icon-wrapper 
                        +img({
                            src: 'assets/img/vacancy-features/3.png',
                            src2x: 'assets/img/vacancy-features/3@2x.png',
                            alt: 'feature icon'
                        })
                    h4.feature__title Бесплатное обучение
                    .feature__descr
                        p Иметь опыт работы совершенно необязательно. Мы всему обучим на месте, и это бесплатно.
                        p Параллельно с обучением будет проходить оплачиваемая стажировка.
                .feature__item  
                    .icon-wrapper 
                        +img({
                            src: 'assets/img/vacancy-features/4.png',
                            src2x: 'assets/img/vacancy-features/4@2x.png',
                            alt: 'feature icon'
                        })
                    h4.feature__title Карьерный старт
                    .feature__descr 
                        p Хостес, официантка, танцовщица, артистка шоу-балета – у тебя всегда будет возможность попробовать себя в чем-то новом.
                .feature__item  
                    .icon-wrapper 
                        +img({
                            src: 'assets/img/vacancy-features/5.png',
                            src2x: 'assets/img/vacancy-features/5@2x.png',
                            alt: 'feature icon'
                        })
                    h4.feature__title Салон красоты
                    .feature__descr 
                        p Мы предоставляем услуги стилистов, визажистов, хореографов, имиджмейкеров, чтобы ты каждый день могла чувствовать себя настоящей королевой!
                .feature__item  
                    .icon-wrapper 
                        +img({
                            src: 'assets/img/vacancy-features/6.png',
                            src2x: 'assets/img/vacancy-features/6@2x.png',
                            alt: 'feature icon'
                        })
                    h4.feature__title Безопасность
                    .feature__descr 
                        p В нашем клубе соблюдается полная конфиденциальность гостей и сотрудников, а также обеспечивается профессиональная охрана.
                .feature__item  
                    .icon-wrapper 
                        +img({
                            src: 'assets/img/vacancy-features/7.png',
                            src2x: 'assets/img/vacancy-features/7@2x.png',
                            alt: 'feature icon'
                        })
                    h4.feature__title Дружный коллектив
                    .feature__descr 
                        p Все наши девушки молоды и энергичны, мы стараемся создать в клубе максимально комфортную атмосферу. 
                        p Мы всегда поддерживаем друг друга, никто не остаётся без внимания.
                .feature__item  
                    .icon-wrapper 
                        +img({
                            src: 'assets/img/vacancy-features/8.png',
                            src2x: 'assets/img/vacancy-features/8@2x.png',
                            alt: 'feature icon'
                        })
                    h4.feature__title Проживание
                    .feature__descr 
                        p Хочешь переехать в Москву, но тебе негде остановиться? Не проблема, мы предоставляем комфортное жилье иногородним. 
                        p А уже через месяц ты сможешь позволить себе съёмную квартиру, и в будущем - купить свою.