mixin vacancy-content()
    section.vacancy-content
        .vacancy-content__inner.vacancy-container 
            .badge вакансии    
            .vacancy__list.accordion 
                .accordion__item.vacancy__item 
                    .accordion__title
                        .title-wrapper
                            h5.vacancy__item__title Танцовщица
                            p.vacancy__item__price от 350 000₽ и выше
                        .icon-wrapper 
                            +plus-icon()
                    .collapse.accordion__content
                        .item__conditions 
                            p.conditions__title Условия работы
                            ul 
                                li Ставка + чай + %
                                li Ежедневные выплаты сразу после смены
                                li График можно подстроить индивидуально
                                li Услуги стилистов, визажистов, маникюр, педикюр, бесплатный солярий
                                li Бесплатное обучение и оплачиваемая стажировка
                                li Дружный коллектив
                        .item__conditions 
                            p.conditions__title требования
                            ul 
                                li Ухоженная внешность
                                li Коммуникабельность, умение найти подход и приятно общаться
                                li Желание много зарабатывать
                        button.btn.primary 
                            span.primary-text написать в телеграм
                .accordion__item.vacancy__item 
                    .accordion__title
                        .title-wrapper
                            h5.vacancy__item__title Show-party/party-girl
                            p.vacancy__item__price от 250 000₽ и выше
                        .icon-wrapper 
                            +plus-icon()
                    .collapse.accordion__content
                        .item__conditions 
                            p.conditions__title Условия работы
                            ul 
                                li Ставка + чай + %
                                li Ежедневные выплаты сразу после смены
                                li График можно подстроить индивидуально
                                li Услуги стилистов, визажистов, маникюр, педикюр, бесплатный солярий
                                li Бесплатное обучение и оплачиваемая стажировка
                                li Дружный коллектив
                        .item__conditions 
                            p.conditions__title требования
                            ul 
                                li Ухоженная внешность
                                li Коммуникабельность, умение найти подход и приятно общаться
                                li Желание много зарабатывать
                        button.btn.primary 
                            span.primary-text написать в телеграм
                .accordion__item.vacancy__item 
                    .accordion__title
                        .title-wrapper
                            h5.vacancy__item__title Хостес
                            p.vacancy__item__price от 250 000₽ и выше
                        .icon-wrapper 
                            +plus-icon()
                    .collapse.accordion__content
                        .item__conditions 
                            p.conditions__title Условия работы
                            ul 
                                li Ставка + чай + %
                                li Ежедневные выплаты сразу после смены
                                li График можно подстроить индивидуально
                                li Услуги стилистов, визажистов, маникюр, педикюр, бесплатный солярий
                                li Бесплатное обучение и оплачиваемая стажировка
                                li Дружный коллектив
                        .item__conditions 
                            p.conditions__title требования
                            ul 
                                li Ухоженная внешность
                                li Коммуникабельность, умение найти подход и приятно общаться
                                li Желание много зарабатывать
                        button.btn.primary 
                            span.primary-text написать в телеграм
                .accordion__item.vacancy__item 
                    .accordion__title
                        .title-wrapper
                            h5.vacancy__item__title Официантка
                            p.vacancy__item__price от 250 000₽ и выше
                        .icon-wrapper 
                            +plus-icon()
                    .collapse.accordion__content
                        .item__conditions 
                            p.conditions__title Условия работы
                            ul 
                                li Ставка + чай + %
                                li Ежедневные выплаты сразу после смены
                                li График можно подстроить индивидуально
                                li Услуги стилистов, визажистов, маникюр, педикюр, бесплатный солярий
                                li Бесплатное обучение и оплачиваемая стажировка
                                li Дружный коллектив
                        .item__conditions 
                            p.conditions__title требования
                            ul 
                                li Ухоженная внешность
                                li Коммуникабельность, умение найти подход и приятно общаться
                                li Желание много зарабатывать
                        button.btn.primary 
                            span.primary-text написать в телеграм