mixin vacancy-work()
    section.vacancy-work
        .vacancy-work__bg 
            +img({
                src: 'assets/img/vacancy-work/bg.png',
                src2x: 'assets/img/vacancy-work/bg@2x.png',
                alt: 'vacancy work bg'
            })
        .vacancy-work__inner.vacancy-container 
            .vacancy-work__content
                .vacancy-work__text
                    .badge работа твоей мечты
                    h2.vacancy-work__title Наше заведение занимает топовые места в рейтингах премиальных клубов Москвы
                    p.vacancy-work__descr Мы отличаемся своими масштабными и уникальными шоу и стильными вечеринками, которыми ты сможешь любоваться, работая у нас. К нам приходят только интересные и обеспеченные гости, которые ценят и уважают наш подход. 
                .vacancy-work__features
                    .work__feature-item
                        h4.work__feature__title Эта работа <br> точно для тебя
                        .work__feature__descr 
                            p Необходимо просто заполнить анкету на сайте! Обязательно убедись, что номер телефона указан правильный, и к нему привязан хотя бы один из мессенджеров - whatsapp или telegram.
                            p Как только мы рассмотрим отправленную анкету, с тобой свяжется наш менеджер, который ответит на все интересующие вопросы и пригласит на очное cобеседование.
                    .work__feature-item
                        h4.work__feature__title Сколько ты сможешь зарабатывать?
                        .work__feature__descr 
                            p Необходимо просто заполнить анкету на сайте! Обязательно убедись, что номер телефона указан правильный, и к нему привязан хотя бы один из мессенджеров - whatsapp или telegram.
                            p Как только мы рассмотрим отправленную анкету, с тобой свяжется наш менеджер, который ответит на все интересующие вопросы и пригласит на очное cобеседование.
                    .work__feature-item
                        h4.work__feature__title С кем ты будешь работать?
                        .work__feature__descr 
                            p Необходимо просто заполнить анкету на сайте! Обязательно убедись, что номер телефона указан правильный, и к нему привязан хотя бы один из мессенджеров - whatsapp или telegram.
                            p Как только мы рассмотрим отправленную анкету, с тобой свяжется наш менеджер, который ответит на все интересующие вопросы и пригласит на очное cобеседование.
                    .work__feature-item
                        h4.work__feature__title Почему мы?
                        .work__feature__descr 
                            p Необходимо просто заполнить анкету на сайте! Обязательно убедись, что номер телефона указан правильный, и к нему привязан хотя бы один из мессенджеров - whatsapp или telegram.
                            p Как только мы рассмотрим отправленную анкету, с тобой свяжется наш менеджер, который ответит на все интересующие вопросы и пригласит на очное cобеседование.
                    .work__feature-item
                        h4.work__feature__title Как к нам устроиться?
                        .work__feature__descr 
                            p Необходимо просто заполнить анкету на сайте! Обязательно убедись, что номер телефона указан правильный, и к нему привязан хотя бы один из мессенджеров - whatsapp или telegram.
                            p Как только мы рассмотрим отправленную анкету, с тобой свяжется наш менеджер, который ответит на все интересующие вопросы и пригласит на очное cобеседование.