mixin vacancy-hero()
    section.vacancy-hero
        .vacancy-hero__bg 
            +img({
                src: 'assets/img/vacancy-hero/bg.jpg',
                src2x: 'assets/img/vacancy-hero/bg@2x.jpg',
                mobSrc: 'assets/img/vacancy-hero/bg-mob.jpg',
                mobSrc2x: 'assets/img/vacancy-hero/bg-mob@2x.jpg',
                alt: 'vacancy hero'
            })
        .vacancy-hero__inner.vacancy-container
            h1.vacancy-hero__title Работа в топовом <br>клубе столицы