include ./head.pug
//- Единый источник контактных данных (для contacts-секции и футера)
include ./_contacts-data.pug

include @/pages/vacancy/ui/vacancy-hero/vacancy-hero.pug
include @/pages/vacancy/ui/vacancy-alert/vacancy-alert.pug
include @/pages/vacancy/ui/vacancy-features/vacancy-features.pug
include @/pages/vacancy/ui/vacancy-work/vacancy-work.pug
include @/pages/vacancy/ui/vacancy-content/vacancy-content.pug
include @/pages/vacancy/ui/vacancy-about/vacancy-about.pug
include @/pages/vacancy/ui/vacancy-form/vacancy-form.pug
include @/pages/vacancy/ui/vacancy-faq/vacancy-faq.pug
include @/pages/vacancy/ui/vacancy-calc/vacancy-calc.pug


include @/entities/girl-card/girl-card.pug

include @/widgets/header/header.pug
include @/widgets/footer/footer.pug
include @/widgets/hero/hero.pug
include @/widgets/girls-select/girls-select.pug
include @/widgets/main-menu/main-menu.pug
include @/widgets/city-switcher/city-switcher.pug
include @/widgets/tg-bot/tg-bot.pug
include @/widgets/divider/divider.pug
include @/widgets/show-performance/show-performance.pug
include @/widgets/poster/poster.pug
include @/widgets/special-menu/special-menu.pug
include @/widgets/gallery/gallery.pug
include @/widgets/food-bar/food-bar.pug
include @/widgets/loyalty/loyalty.pug
include @/widgets/hall/hall.pug
include @/widgets/show-video/show-video.pug
include @/widgets/vip-karaoke/vip-karaoke.pug
include @/widgets/photo-stack/photo-stack.pug
include @/widgets/certificate/certificate.pug
include @/widgets/show-hero/show-hero.pug
include @/widgets/show-stage/show-stage.pug
include @/widgets/show-portrait/show-portrait.pug
include @/widgets/show-gallery/show-gallery.pug
include @/widgets/girls-detail/girls-detail.pug
include @/widgets/halls-detail/halls-detail.pug
include @/widgets/events-detail/events-detail.pug
include @/widgets/events-form/events-form.pug
include @/widgets/not-found/not-found.pug
include @/widgets/contacts/contacts.pug

include @/features/form/form.pug
include @/features/go-btn/go-btn.pug

include @/shared/ui/svg/svg.pug
include @/shared/ui/plus-icon/plus-icon.pug
include @/shared/ui/img/img.pug
include @/shared/ui/input/input.pug
include @/shared/ui/select/select.pug
include @/shared/ui/switch/switch.pug
include @/shared/ui/tabs/tabs.pug
include @/shared/ui/textarea/textarea.pug
include @/shared/ui/button/button.pug
include @/shared/ui/modal/modal.pug
include @/shared/ui/badge/badge.pug
include @/shared/ui/modals/cookies-modal/cookies-modal.pug
include @/widgets/food-bar/menu-modal.pug
