mixin vacancy-about()
    section.vacancy-about
        .vacancy-about__inner.vacancy-container 
            .vacancy-about__content
                .vacancy-about__text 
                    .badge это просто!
                    h2.vacancy-about__title Работа мечты —<br>это просто.<br>Заполняй анкету и начинай зарабатывать<br>уже сегодня!
                .vacancy-about__image 
                    +img({
                        src: 'assets/img/vacancy-about/img.png',
                        src2x: 'assets/img/vacancy-about/img@2x.png',
                        mobSrc: 'assets/img/vacancy-about/img-mob.png',
                        mobSrc2x: 'assets/img/vacancy-about/img-mob@2x.png',
                        alt: 'about image'
                    })
                    .vacancy-about__lights 
                        .light 
                        .light 