mixin vacancy-faq()
    section.vacancy-faq
        .vacancy-faq__inner.vacancy-container 
            .badge часто задаваемые вопросы
            .vacancy-faq__list.accordion
                .col
                    .accordion__item
                        button.accordion__title
                            span В чем заключается работа?
                            .icon-wrapper 
                                +plus-icon()
                        .collapse.accordion__content
                            p Для регистрации нам необходимо подтверждение вашего совершеннолетия. Для регистрации подойдет паспорт, водительское удостоверение или загранпаспорт. P.S. Рукописные паспорта не подходят.
                    .accordion__item
                        button.accordion__title
                            span Сколько я реально буду зарабатывать?
                            .icon-wrapper 
                                +plus-icon()
                        .collapse.accordion__content
                            p Для регистрации нам необходимо подтверждение вашего совершеннолетия. Для регистрации подойдет паспорт, водительское удостоверение или загранпаспорт. P.S. Рукописные паспорта не подходят.
                    .accordion__item
                        button.accordion__title
                            span Я не говорю по английски, смогу ли я работать?
                            .icon-wrapper 
                                +plus-icon()
                        .collapse.accordion__content
                            p Для регистрации нам необходимо подтверждение вашего совершеннолетия. Для регистрации подойдет паспорт, водительское удостоверение или загранпаспорт. P.S. Рукописные паспорта не подходят.
                    .accordion__item
                        button.accordion__title
                            span Смогу ли я совмещать с учебой/работой?
                            .icon-wrapper 
                                +plus-icon()
                        .collapse.accordion__content
                            p Для регистрации нам необходимо подтверждение вашего совершеннолетия. Для регистрации подойдет паспорт, водительское удостоверение или загранпаспорт. P.S. Рукописные паспорта не подходят.
                    .accordion__item
                        button.accordion__title
                            span Какие преимущества у работы стрим-моделью, кроме высокого заработка?
                            .icon-wrapper 
                                +plus-icon()
                        .collapse.accordion__content
                            p Для регистрации нам необходимо подтверждение вашего совершеннолетия. Для регистрации подойдет паспорт, водительское удостоверение или загранпаспорт. P.S. Рукописные паспорта не подходят.
                    .accordion__item
                        button.accordion__title
                            span Какие документы нужны для регистрации?<br>Почему нужно предоставить паспорт?
                            .icon-wrapper 
                                +plus-icon()
                        .collapse.accordion__content
                            p Для регистрации нам необходимо подтверждение вашего совершеннолетия. Для регистрации подойдет паспорт, водительское удостоверение или загранпаспорт. P.S. Рукописные паспорта не подходят.
                .col
                    .accordion__item
                        button.accordion__title
                            span Когда я смогу получить первую зарплату?
                            .icon-wrapper 
                                +plus-icon()
                        .collapse.accordion__content
                            p Для регистрации нам необходимо подтверждение вашего совершеннолетия. Для регистрации подойдет паспорт, водительское удостоверение или загранпаспорт. P.S. Рукописные паспорта не подходят.
                    .accordion__item
                        button.accordion__title
                            span Кто может стать моделью?
                            .icon-wrapper 
                                +plus-icon()
                        .collapse.accordion__content
                            p Для регистрации нам необходимо подтверждение вашего совершеннолетия. Для регистрации подойдет паспорт, водительское удостоверение или загранпаспорт. P.S. Рукописные паспорта не подходят.
                    .accordion__item
                        button.accordion__title
                            span Как проходит обучение?
                            .icon-wrapper 
                                +plus-icon()
                        .collapse.accordion__content
                            p Для регистрации нам необходимо подтверждение вашего совершеннолетия. Для регистрации подойдет паспорт, водительское удостоверение или загранпаспорт. P.S. Рукописные паспорта не подходят.
                    .accordion__item
                        button.accordion__title
                            span Я не из России, я могу с вами сотрудничать?
                            .icon-wrapper 
                                +plus-icon()
                        .collapse.accordion__content
                            p Для регистрации нам необходимо подтверждение вашего совершеннолетия. Для регистрации подойдет паспорт, водительское удостоверение или загранпаспорт. P.S. Рукописные паспорта не подходят.
                    .accordion__item
                        button.accordion__title
                            span У меня нет компа! Можно ли работать с телефона?
                            .icon-wrapper 
                                +plus-icon()
                        .collapse.accordion__content
                            p Для регистрации нам необходимо подтверждение вашего совершеннолетия. Для регистрации подойдет паспорт, водительское удостоверение или загранпаспорт. P.S. Рукописные паспорта не подходят.
                    .accordion__item
                        button.accordion__title
                            span Где вы находитесь?
                            .icon-wrapper 
                                +plus-icon()
                        .collapse.accordion__content
                            p Для регистрации нам необходимо подтверждение вашего совершеннолетия. Для регистрации подойдет паспорт, водительское удостоверение или загранпаспорт. P.S. Рукописные паспорта не подходят.